.input1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    outline: none;
    width: 98%;
    color: white;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    background-color: transparent;
    margin-top: 5px;
    transition: 1s;
}

.input2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    outline: none;
    width: 83%; 
    background-color: transparent;
    border-width: 2px;
    text-align: center;
    border-radius: 10px;
    color: white;
    border-color: white;
    transition: 1.0s;
}

.input1:focus, .input2:focus{
    border-color: #243972;
}

.titlein {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    margin-top: 15px;
    text-align: left;
    outline: none;
    width: 98%;
    color: white;
}

.title2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
    margin-right: 2px;
    color: white;
}

.button1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 15px;
    width: 60%;
    margin-left: 20%;
    height: 50px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: transparent;
    transition: 0.3s;
}

.button1:hover {
    color: #EFA953;
    border-color: white;
    background-color: white;
    cursor: pointer;
}

#head1 {
    font-size: 50px;
    font-family: "Noto Sans", sans-serif;
    color: white;
}